<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ExternalServiceSoap" />
                <binding name="BasicHttpBinding_ServiceSite" />
                <binding name="BasicHttpBinding_Service1" />
                <binding name="BasicHttpBinding_ServiceSiteSecure">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="ExternalServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://1.1.1.1/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ExternalServiceSoap"
                contract="ServiceReferenceTerrasoft.ExternalServiceSoap" name="ExternalServiceSoap" />
            <endpoint address="http://1.1.1.1/service.asmx"
                binding="customBinding" bindingConfiguration="ExternalServiceSoap12"
                contract="ServiceReferenceTerrasoft.ExternalServiceSoap" name="ExternalServiceSoap12" />
            <endpoint address="http://1.1.1.1/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Service1"
                contract="StorageRetrieverSvc.Service1" name="BasicHttpBinding_Service1" />
            <endpoint address="http://1.1.1.1/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServiceSite"
                contract="ServiceSite.ServiceSite" name="BasicHttpBinding_ServiceSite" />
            <endpoint address="https://1.1.1.1/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServiceSiteSecure"
                contract="ServiceSite.ServiceSite" name="BasicHttpBinding_ServiceSiteSecure" />
        </client>
    </system.serviceModel>
<appSettings>
  <add key="TerrasoftSvcPass" value="xxx"/>
  <add key="StorageSvcPass" value="xxx"/>
</appSettings>
</configuration>